<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        div {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" type="image/png" href=<%=data.current.condition.icon%>>
</head>

<body>
    <div>
        <form id="search-form">
            <input type="text" id="search-input" name="q" placeholder="Ara...">
            <input type="submit" value="Ara">
        </form>
    </div>
    <div>
        <img src=<%=data.current.condition.icon%> alt=<%=data.current.condition.text%> >
        <h4><%=data.current.temp_c%> C° | <%=data.current.temp_f%> F°</h4>
            <h4>
                <%=data.current.condition.text%>
            </h4>
            <h3>
                <%=data.location.name%>, <%=data.location.region%>
                        <%=data.location.country%>
                            </h2>
    </div>

</body>

</html>